body {
  font-family: "Roboto", sans-serif;
  /* font-size: 48px; */
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.icon-float-left {
  float: left;
}

.flag {
  // height: 20px;
  width: 20px;
  // margin-right: 10px;
}

.MuiTimeline-root {
  & .MuiTimelineItem-missingOppositeContent::before,
  & .MuiTimelineOppositeContent-root {
    flex: 0.1;
    min-width: 90px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
  }
}

ul.MuiTimeline-positionRight {
  padding-left: 0;
  padding-right: 0;
}

.MuiTableRow-root {
  // &:first-child td,
  &:last-child td,
  &:nth-last-child(1) td {
    border: 0;
  }
}

.MuiTableRow-root tr {
  max-width: 300px;
  margin-bottom: 10px;
}

.team-table {
  &:first-child td {
    background-color: #1976d2;
    color: #fff;
  }

  // .MuiCard-root.same-height {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}

.MuiTimelineItem {
  .missingOppositeContent {
    &:before {
      display: none;
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  /* float: left; */
}
.icon-float-left {
  float: left;
}
/* .flag {
  height: 20px;
  width: 20px;
  margin-right: 10px;
} */

// .competition-table{
//   width: 30% !important;
// }

// .table-cell-wrap{
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   width: 300px;
//   display: block;
//   overflow: hidden;
// }

@media only screen and (min-width: 600px) {
  .timeline-competition-table {
    width: 70% !important;
  }
}
@media only screen and (min-width: 800px) {
  .timeline-competition-table {
    width: 50% !important;
  }
}
@media only screen and (min-width: 1000px) {
  .timeline-competition-table {
    width: 40% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .timeline-competition-table {
    width: 30% !important;
  }
}
// @media only screen and (min-width: 900px) {
//   .timeline-competition-table {
//     width: 60% !important;
//   }
// }
// @media only screen and (min-width: 1050px) {
//   .timeline-competition-table {
//     width: 40% !important;
//   }
// }
// @media only screen and (min-width: 1200px) {
//   .timeline-competition-table {
//     width: 30% !important;
//   }
// }

.crest-select {
  height: 15px;
  width: 20px;
  margin-right: 10px;
}

.breadcrumbs {
  margin-top: 15px;
}
